<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="home" href="{{ siteUrl }}" />

	<!-- Meta Info -->
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	{# TODO ADD IN SEOMATIC #}
	{# {% hook 'seomaticRender' %} #}

	<!-- Mobile App Info -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="apple-touch-fullscreen" content="yes" />

	<!-- Favicon Info-->
	<!-- TODO: Create Icons from http://realfavicongenerator.net/ -->
	<link rel="apple-touch-icon" sizes="180x180" href="/public/ui/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/public/ui/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/public/ui/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/public/ui/favicons/manifest.json">
	<link rel="mask-icon" href="/public/ui/favicons/safari-pinned-tab.svg" color="#ffffff">
	<link rel="shortcut icon" href="/public/ui/favicons/favicon.ico">
	<meta name="msapplication-config" content="/public/ui/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<meta name="apple-mobile-web-app-title" content="{{ siteName }}">
	<meta name="application-name" content="{{ siteName }}">

	<!-- Bootstrap CSS -->
	<link href="/public/ui/css/main.css" rel="stylesheet" type="text/css" media="all" id="css-main">

	<!-- Because You're A Piece of Shit IE -->
	<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body class="">
  <header class="Header">
  	<a href="#Content" class="skip">Skip to main content</a>
    <h1 class="Header__logo">
			<a href="/">{{ siteName }}</a>
		</h1>
    <nav class="Nav">
      <ul>
      	<li><a href="/">home</a></li>
      </ul>
    </nav>
  </header>
  <!-- /.Header -->

  <main class="Content" id="Content">
    {% block content %}
    <h1>Something seems to have gone awry.</h1>
    <p>What’s worse, a hilarious 404 page can’t be found either.</p>
    {% endblock %}
  </main>
  <!-- /.Content -->

  <footer class="Footer">
    <p>&copy; Copyright {{ now.year }} {{ siteName }}</p>
  </footer>
  <!-- /.Footer -->

  <script src="/public/ui/js/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

<!-- EOF -->
