<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<!-- Meta Info -->
	<meta name="description" content="{% if metaDescription is defined and metaDescription != '' %} {{ metaDescription }} {% else %} {{ seo.metaDescription }} {% endif %}">
	<meta name="keywords" content="{% if metaKeywords is defined and metaKeywords != '' %}{{ metaKeywords }}{% else %}{{ seo.metaKeywords }}{% endif %}">
	<meta name="google-site-verification" content="TODO" />

	<!-- Mobile App Info -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="apple-touch-fullscreen" content="yes" />

	<!-- Favicon Info-->
	<!-- TODO: Create Icons from http://realfavicongenerator.net/ -->
	<link rel="apple-touch-icon" sizes="57x57" href="/public/ui/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/public/ui/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/public/ui/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/public/ui/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/public/ui/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/public/ui/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/public/ui/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/public/ui/icons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/public/ui/icons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/public/ui/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/public/ui/icons/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/public/ui/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/public/ui/icons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/public/ui/icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/public/ui/icons/manifest.json">
	<link rel="shortcut icon" href="/public/ui/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/public/ui/icons/mstile-144x144.png">
	<meta name="msapplication-config" content="/public/ui/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<meta name="apple-mobile-web-app-title" content="{{ siteName }}">
	<meta name="application-name" content="{{ siteName }}">

	{# {% include 'templates/includes/_meta' %} #}

	<!-- Bootstrap CSS -->
	<link href="/public/ui/css/main.css" rel="stylesheet" id="css-main" media="none" onload="if(media!='all')media='all'">
	<noscript><link rel="stylesheet" href="/public/ui/css/main.css"></noscript>
</head>
<body class="">
	<a href="#Content" class="skip">Skip to main content</a>

	<div class="Header">
		<h1 class="Header__logo">
			<a href="/"><img src="/public/uploads/general/allan_kukral.png" alt="Bootstrap"></a>
		</h1>
		<nav class="Nav" aria-lable="Primary" role="navigation">
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</nav>
	</div>
	<!-- /.Header -->

	<div class="Content" id="Content">
		{% block content %}
		<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
		<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</div>
	<!-- /.Content -->

	<footer class="Footer" role="contentinfo">
		<div class="container">
			<p>&copy; Copyright {{ now.year }} {{ siteName }}</p>
		</div>
	</footer>
	<!-- /.Footer -->

	<script>
	  // TODO: Add Google Analytics
	</script>

	<script src="/public/ui/js/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
<!-- EOF -->
