{% extends "layout/_layout" %}

{% set title = "Blog" %}
{% set entry = craft.entries.section(craft.request.getFirstSegment()).limit(1) %}
{% set metaDescription = entry[0].metaDescription %}
{% set metaKeywords = entry[0].metaKeywords %}

{% block content %}
<main class="Content">
	<div class="Content__images">
		<div class="Content__gallery">
		{% if entry[0].images[0] is defined %}
		{% for image in entry[0].images %}
		<div><img src="{{ image.getUrl('gallery') }}" alt=""></div>
		{% endfor %}
		{% endif %}
		</div>
	</div>
	<div class="Content__post">
		<div class="Content__content">
			<h2 class="Content__title">{{ entry[0].title }}</h2>
			<h5 class="Content__date">{{ entry[0].postDate|date('F d, Y') }}</h5>
			{{ entry[0].body }}
			{% set criteria = {section: 'blog', order: 'postDate'} %}
			{% set prev = entry[0].getPrev(criteria) %}
			{% set next = entry[0].getNext(criteria) %}
			{% if prev %}
			   <a href="{{ prev.url }}" class="Content__prev">Prev</a>
			{% endif %}
			{% if next %}
			   <a href="{{ next.url }}" class="Content__prev">Next</a>
			{% endif %}
		</div>
	</div>
</main>
{% endblock %}
